<%= form_tag '/login' do %>
  <div class="col-md-4 center-block form" style="float:none;">
  <div class="login-form">    
    <div class="form-group">
      <strong>Email</strong> <%= text_field_tag :email, "", class: 'form-control'  %>
    </div>
    <div class="form-group">
      <strong>Password</strong> <%= password_field_tag :password, "", class: "form-control" %>
    </div>
  </div>
</div>
  <div class="col-md-4 center-block" style="float:none; padding-top: 20px;">
    <%= submit_tag 'LOG IN', :class=>'btn right-align btn-dark-grey'%>
  </div>
<% end %>