<div class="col-md-4 center-block clearfix" style="float: none; padding: 20px 0;" >
<h4 style="float:left;">Log in to your account</h4>
<h5 style="float:right;"><%= link_to 'Create account', login_path %></h5> 
</div>
<%= render 'form' %>
