<h2>Thanks for purchasing ABHShoe products!</h2>

<p>Your orders:</p>

<%= @user.carts.each do |i| %>
	Name: <%= i.product.name %>
	Price: $<%= i.product.price %>
	Quantity: <%= i.quantity %>
	<hr>
<% end %>
