<footer>
	<hr />
	<div class="col-md-4">
		<p class="left">Copyright&copy;abhShoes. All rights reserved.</p>
	</div>
	<div class="col-md-8">
		<ul class="footer">
			<% Category.all.each do |c| %> <!-- SMISLITI BOLJI NACIN -->
	    		<li><%= link_to c.name, c %></li>
	    	<% end %>
		<li><%= link_to 'Dodaci' %></li>
		</ul>
	</div>
	
</footer>