<footer>
	<hr />
	<p class="left">Copyright&copy;abhShoes. All rights reserved.</p>
	<ul class="footer">
		<% Category.all.each do |c| %> <!-- SMISLITI BOLJI NACIN -->
    		<li><%= link_to c.name, c %></li>
    	<% end %>
		<li><%= link_to 'Dodaci' %></li>
	</ul>
</footer>