<div class="col-md-4 center-block clearfix" style="float: none; padding: 20px 0;" >
<h4 style="float:left;">Edit your account</h4>
<h5 style="float:right;"><%= link_to 'Cancel', root_path %></h5> <!-- login path umjesto users_path -->
</div>
<%= render 'form' %>