<h1>Welcome, <%= @user.name %> <%= @user.surname %>!</h1>
<p>Your email address is: <%= @user.email %></p>
<p>If you would like to change your profile information click <%= link_to 'here', edit_user_path(@user) %></p>