<hr />
<footer>
	<p class="left">Copyright&copy;abhShoes. All rights reserved.</p>
	<ul class="right">
		<li>Ženska obuća</li>
		<li>Muška obuća</li>
		<li>Dječija obuća</li>
		<li>Sportska obuća</li>
		<li>Dodaci</li>
	</ul>
</footer>