/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */
/*
@import "bootstrap-sprockets";
@import "bootstrap"; */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#nav{
  width: 100%;
  height: 50px;
  background: black;
}

footer {
  margin-top: 100px;
}
footer ul {
  display: block;
  float: right;

  li
  {
    list-style-type: none;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.left {
  float: left;
}


.login-form{
  background-color: #f6f6f6;
  padding:35px;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 3px;
  margin-bottom: 15px;
}

.btn-dark-grey{
  background-color: #404040;
  color: #ffffff;
}

.right-align{
  float: right;
  margin-left: 5px;
}