<%= form_for @category do |f| %>
	<div class="col-md-4 center-block form" style="float:none">
		<h2>New category</h2></br>
		<div class="login-form">    
		    <% if @category.errors.any? %>        
		      <% for message in @category.errors.full_messages %>
		           <% flash.now[:danger] = message %>
		      <% end %>
		    <% end %> 
		    <div class="form-group">
		      <%= f.label :name %><br />
		      <%= f.text_field :name, class: "form-control" %>
		    </div>
		</div></br>
	      <%= f.submit 'CREATE CATEGORY', :class=>'btn btn-dark-grey'%>
	</div>
<% end %>