<div class="row">
	<h3 style="text-align:center;">Featured Products</h3>
	<h4 style="text-align:center;"><strong>ALL</strong> <span class="caret"></span> </h4> 
</div>
<div class="row">
	<% @products.each do |p| %>
		<div class="col-md-3 col-xs-6 col-sm-4">
			<div class="img"> 
				<%= link_to image_tag(p.img.url(:medium)), p %> 
				<!--<%= link_to image_tag(p.img, :size => "200x180"), p %>-->
				<br><br>
				<%= link_to  simple_format(p.name + "\n\n $" + p.price.to_s), p, class: 'imgText'%> 
			</div>
		</div>
	<% end %>
</div>
