<div class="row">
	<h3 style="text-align:center;">Featured Products</h3>
	<h4 style="text-align:center;"><strong>VANS</strong> <span class="caret"></span> </h3>
</div>
<div class="">
	<% @products.each do |p| %>
		<div class="col-md-3 block-centered">
			<div class="img"> 
				<%= link_to image_tag(p.image, :size => "200x180"), p %><br><br>
				<%= link_to  simple_format(p.name + "\n\n $" + p.price.to_s), p, class: 'imgText'%> 
			</div>
		</div>
	<% end %>
</div>