<h1>Products</h1>
<% @products.each do |p| %>
<div class="">
	<div class="col-md-3">
	<%= image_tag(p.image, :size => "200x180") %><br>
	<%= p.name %><br>
	<%= p.price %>KM <br>
	</div>
</div>

<% end %>